/* Dropdown Button */
.burgerbtn {
    background-color:transparent;
    border:1px rgba(239, 166, 164,0.5) solid;
    border-radius:10px;
    color: white;
    padding:.75% 3% .5% 3%;
    font-size: 24pt;
    cursor: pointer;
    margin-left:85%;
    margin-top:-18%;
    float:left;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .burger-content {
    display: none;
    float:left;
    font-size:18px;
    font-weight:bold;
    margin-left:60vw;
    margin-top:-3vw;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .burger-content a {
    border-top:1px solid rgb(239, 166, 164);
    background-image:linear-gradient(rgb(188,12,6),rgb(93,4,4));
    padding: 12px 16px;
    display: block;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
  }